#root {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.board{
  margin: 20px auto;
}

.input-row {
  margin: 5px;
}

.input-row > label {
  width: 200px;
  display: inline-block;
  text-align: end;
  margin-right: 10px;
}

.input-row > input {
  width: 200px;
  box-sizing: content-box;
}

